
.contact-container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Responsive titres */
.contact-title {
  font-size: 2.8rem;
}

.contact-subtitle {
  font-size: 1.2rem;
}

h2 {
  margin-top: 30px; /* Un peu d'espace avant les titres */
  margin-bottom: 10px; /* Un peu d'espace sous les titres */
  font-size: 28px;
  font-weight: bold;
}

.contact-container {
  padding-top: 40px;
}

.map-responsive {
  border: 1px solid #ddd;
  margin-top: 20px;
  border-radius: 8px;
}

/* Espacement pour la section du formulaire */
.contact-container h2:first-of-type {
  margin-top: 60px; /* Plus d'espace avant le formulaire */
}

/* Ajuster le style du sous-titre (Formulaire de contact) */
.contact-container .contact-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.contact-container .contact-subtitle {
  font-size: 18px;
  margin-bottom: 40px;
}

/* Ajouter une bordure autour de la carte pour une meilleure visibilité */
.map-responsive {
  border: 1px solid #ddd;
  margin-top: 20px;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .contact-title {
    font-size: 2rem;
  }

  .contact-subtitle {
    font-size: 1rem;
  }

  .map-responsive iframe {
    height: 200px !important;
  }


  .form-control {
    font-size: 0.95rem;
  }
}