.titreSection {
  margin-top: 88px;
}

h1 {
    font-weight: 600;
    margin-bottom: 60px;
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Nunito Sans', sans-serif;
}


.background-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
    border: 0;
    border-top: 3px solid blue;
    width: 100%;
    margin: 0 auto 20px;
  }

  p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
  }

  .custom-title {
    font-size: 2rem; /* taille par défaut sur mobile */
    font-weight: bold;
  }
  
  @media (min-width: 768px) { /* md = tablette et laptop */
    .custom-title {
      font-size: 3.5rem;
    }
  }
  
  @media (min-width: 1200px) { /* lg = desktop large */
    .custom-title {
      font-size: 4.5rem;
    }
  }
