
.no-underline {
    text-decoration: none !important;
  }
  

  .text-primary {
    margin-right: 8px;  
  }
  

  a {
    font-size: 1rem; 
  }
  
  @media (max-width: 768px) {
    a {
      font-size: 0.9rem; 
    }
  }
  
  @media (max-width: 576px) {
    a {
      font-size: 0.8rem; 
    }
  }

  h5 {
    font-size: 1.5rem;
    font-weight: 600;
  }

 /* Link  */
 .footer-link {
  transition: background-color 0.3s ease;
  padding: 4px 8px;
  display: inline-block;
  border-radius: 4px;
}

.footer-link:hover {
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}